@import url('https://fonts.cdnfonts.com/css/graffiti-font');

.controles {
  display: flex;
  justify-content: center;
  align-items: center; /* já alinha verticalmente */
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.controles > button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
  transition: color 0.3s ease, background-color 0.3s ease;
  user-select: none;
  padding: 12px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center; /* alinha o conteúdo do botão verticalmente */
}

button:hover {
  color: #7e340f;
  background: rgba(254, 255, 255, 0.15);
}

/* Botão play/pause maior */
#playPause {
  font-size: 2rem;
  width: 65px;
  height: 65px;
  background: #7e340f;
  color: #121212;
  box-shadow: 0 4px 15px #7e340f;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

#playPause:hover {
  background: #7e340f;
  color: #0a0a0a;
  box-shadow: 0 6px 20px #7e340f;
}

#espectrograma {
  width: 100%;
  max-width: 320px;  /* opcional: limita a largura máxima para ficar mais "compacto" */
  height: 60px;
  border-radius: 10px;
  background: #222;
  display: block;
  margin: 0 auto;    /* centraliza horizontalmente */
}

#titulo-musica{
    padding-top: 20px;
        font-family: 'Graffiti font', sans-serif;
    text-align: center;
    color: white;
}

.player{
    padding-bottom: 50px;
}